[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
nanoid = "*"
python-dotenv = "*"
flask-cors = "*"
pymongo = "*"
mongoengine = "*"

[dev-packages]

[requires]
python_version = "3.9"
